<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>ADMIN HOME</title>
</head>
<body>
<p> ADMIN HOME </p>
<form action="addsong">
<input type ="submit" value="ADDSONG">

</form>
<br><br>

<form action="viewsongs">
<input type ="submit" value="VIEW SONGS">

</form>

<br><br>

<form action="createplaylists">
<input type ="submit" value="CREATE PLAYLISTS">

</form>

<br><br>

<form action="viewplaylists">
<input type ="submit" value="VIEW PLAYLISTS">

</form>
</body>
</html>